<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <tile>Untitled Document</tile>
</head>
<body>

<h2>Hello world</h2>

<table>
    <tr>
        <td>title</td>
    </tr>
    <tbody>
    <tr th:each="h : ${hello}">
        <td><a href="javascript:gl();"><label th:text="${h.ttl}"></label></a></td>
    </tr>
    </tbody>
</table>


<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
<script>
    const gl = function() {
        var passphrase = "key...변경";
        var str = "1234";
        var iv = CryptoJS.lib.WordArray.random(128/8);
        var key = CryptoJS.enc.Hex.parse(CryptoJS.SHA1(passphrase).toString().substring(0,32));
        console.log("key: ", key)
        var ct = CryptoJS.AES.encrypt(str, key, { iv: iv });
        var enc = iv.concat(ct.ciphertext).toString();

        console.log("enc: ", enc)
        // ## enc:  b3ff8dd004bb643f0aba857baccb0d45e1565d2f4a1d727c9a268580d3a2031b

        console.log("Result: " + CryptoJS.AES.decrypt({
                ciphertext: CryptoJS.enc.Hex.parse(enc.substring(32))
            }, CryptoJS.enc.Hex.parse(CryptoJS.SHA1(passphrase).toString().substring(0,32)),
            {
                iv: CryptoJS.enc.Hex.parse(enc.substring(0,32)),
            }).toString(CryptoJS.enc.Utf8));

        // ## Result: abcd

        enc = "B8160A9EDCA2CFECE3E6444BFDE09B780D8DD2D873B93080E7F5A6F4B5644217";
        console.log("JAVA 에서 암호화한 문자열 복호화 Result: " + CryptoJS.AES.decrypt({
                ciphertext: CryptoJS.enc.Hex.parse(enc.substring(32))
            }, CryptoJS.enc.Hex.parse(CryptoJS.SHA1(passphrase).toString().substring(0,32)),
            {
                iv: CryptoJS.enc.Hex.parse(enc.substring(0,32)),
            }).toString(CryptoJS.enc.Utf8));


        location.href = '/hello?p1=' + enc;
    }


</script>
</body>
</html>